Core/Web References/Ulrichs/UlrichsWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://serialssolutions.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://serialssolutions.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://serialssolutions.com/">
      <s:element name="DataExchange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataExchangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataExchangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DataExchangeSoapIn">
    <wsdl:part name="parameters" element="tns:DataExchange" />
  </wsdl:message>
  <wsdl:message name="DataExchangeSoapOut">
    <wsdl:part name="parameters" element="tns:DataExchangeResponse" />
  </wsdl:message>
  <wsdl:portType name="UlrichsWebServiceSoap">
    <wsdl:operation name="DataExchange">
      <wsdl:input message="tns:DataExchangeSoapIn" />
      <wsdl:output message="tns:DataExchangeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UlrichsWebServiceSoap" type="tns:UlrichsWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DataExchange">
      <soap:operation soapAction="http://serialssolutions.com/DataExchange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UlrichsWebServiceSoap12" type="tns:UlrichsWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DataExchange">
      <soap12:operation soapAction="http://serialssolutions.com/DataExchange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UlrichsWebService">
    <wsdl:port name="UlrichsWebServiceSoap" binding="tns:UlrichsWebServiceSoap">
      <soap:address location="http://ulrichsds.serialssolutions.com/UlrichsWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="UlrichsWebServiceSoap12" binding="tns:UlrichsWebServiceSoap12">
      <soap12:address location="http://ulrichsds.serialssolutions.com/UlrichsWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>